
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table" id="orders">
    <thead>
        <tr>
            <th>idOrder</th>
            <th>fecha Registro</th>
            <th>Monto total</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        tabla = $.getJSON("http://localhost:65406/api/order/GetOrders", null, function (res) {            
            $.each(res, function (i, item) {
                var row = `<tr>
            <td>${item.OrderId}</td>
        <td>${item.dateRegister}</td>
        <td>${item.total}</td>
        <td><a href="@Url.Action("Details","Order")/${item.OrderId}">Ver detalle</a></td>
        </tr> `;
                $("#orders tbody").append(row);
            });
        });
    });
</script>